.wrapText{
    width: 100%;
    height: 100%;
    position: relative;
}
.wrapText .spanText span{
    display:block;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
}
.wrapText .textLine{
    width: 20px;
    font-size: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
}